<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Imagen de la raza</th>
            <th scope="col">Nombre de la raza</th>
            <th scope="col">Cantidad de perros inscritos: </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>
                <img src="assets/affe.png" width="150" height="75">
            </td>
            <td>affenpinscher</td>
            <td>0</td>

            <td><a href="http://localhost:4200/registrar" class='eliminar btn btn-outline-danger'>agregar</a></td>
            <td><a href="http://localhost:4200/buscar" class='btn btn-outline-warning'>Listar</a></td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td> <img src="assets/afri.jpg" width="150" height="75"></td>
            <td>african</td>
            <td>1</td>
            <td><a href="http://localhost:4200/registrar" class='eliminar btn btn-outline-danger'>agregar</a></td>
            <td><a href="http://localhost:4200/buscar" class='btn btn-outline-warning'>Listar</a></td>
        </tr>

    </tbody>
</table>